@model ClosetApp.Models.Outfit

@{
    ViewBag.Title = "Delete";
}

<body class="deletebody">
    <h2 class="itemstitle">Delete</h2>

    <h3 class="deletesure">Are you sure you want to delete this?</h3>
    <div>

        <hr />
        <div class="row">
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    
                    <div class="caption">
                        <h3 class="outfitTitle">@Html.DisplayFor(model => model.Name)</h3>
                        <p class="outfitItems">@Html.DisplayFor(model => model.Top.Name)</p>
                        <p class="outfitItems">@Html.DisplayFor(model => model.Bottom.Name)</p>
                        <p class="outfitItems">@Html.DisplayFor(model => model.Sho.Name)</p>
                        <p class="outfitItems">@Html.DisplayFor(model => model.Accessory.Name)</p>
                        <p>
                            @using (Html.BeginForm())
                            {
                                @Html.AntiForgeryToken()

                                <div class="form-actions no-color">
                                    <input type="submit" value="Delete" class="btn btn-default" />
                                    @Html.ActionLink("Back to List", "Index")
                                </div>
                            }
                        </p>
                    </div>
                </div>
            </div>
        </div>
       
          

       
    </div>
</body>