@model ClosetApp.Models.Outfit

@{
    ViewBag.Title = "Details";
}

<body class="detailOutfit">

    <h2 class="itemstitle">Details</h2>

    <div>

        <hr />
        <h2 class="itemstitle">@Html.DisplayFor(model => model.Name)</h2>
        <div class="row">
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="~/Content/@Model.Top.Photo" alt="..." />
                    <div class="caption">
                        <h3 class="outfitTitle">@Html.DisplayFor(model => model.Top.Name)</h3>

                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="~/Content/@Model.Bottom.Photo" alt="..." />
                    <div class="caption">
                        <h3 class="outfitTitle">@Html.DisplayFor(model => model.Bottom.Name)</h3>

                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="~/Content/@Model.Sho.Photo" alt="..." />
                    <div class="caption">
                        <h3 class="outfitTitle">@Html.DisplayFor(model => model.Sho.Name)</h3>


                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="~/Content/@Model.Accessory.Photo" />

                    <div class="caption">
                        <h3 class="outfitTitle">@Html.DisplayFor(model => model.Accessory.Name)</h3>

                    </div>
                </div>
            </div>


        </div>
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.OutfitID }) 
            <br/>
            @Html.ActionLink("Back to List", "Index")
        </p>

    </div>
</body>