@model IEnumerable<ClosetApp.Models.Outfit>

@{
    ViewBag.Title = "Index";
}
<body class="itemsbody">
    <h2 class="itemstitle">MY OUTFITS</h2>

    <p>
        @Html.ActionLink("CREATE A NEW OUTFIT", "Create")
    </p>
    
    
    <div class="row">

        @foreach (var item in Model)
        {

            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    
                    <div class="caption">
                        <h3>@Html.DisplayFor(modelItem => item.Name)</h3>
                        <p>@Html.DisplayFor(modelItem => item.Top.Name)</p>
                        
                        <p>@Html.DisplayFor(modelItem => item.Bottom.Name)</p>
                        <p>@Html.DisplayFor(modelItem => item.Sho.Name)</p>
                        <p>@Html.DisplayFor(modelItem => item.Accessory.Name)</p>
                        
                        <p>
                            @Html.ActionLink("Details", "Details", new { id = item.OutfitID }, new { @class = "btn btn-default" })
                            @Html.ActionLink("Edit", "Edit", new { id = item.OutfitID }, new { @class = "btn btn-warning" })
                            @Html.ActionLink("Delete", "Delete", new { id = item.OutfitID }, new { @class = "btn btn-default" })
                        </p>
                        
                    </div>
                </div>
            </div>
            

           
                   
       

        }

    </div>



</body>