@{
    ViewBag.Title = "Home Page";
}
<body class="homepage">
    <div class="jumbotron">
        <h1 class="title">MY CLOSET</h1>

    </div>

    <div class="row">
        <div class="col-sm-12">
            <h2 class="links">@Html.ActionLink("MY OUTFITS", "Index", "Outfits")</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-6">
            <h2 class="links">@Html.ActionLink("MY TOPS", "Index", "Tops")</h2>

        </div>
        <div class="col-xs-12 col-md-6">
            <h2 class="links">@Html.ActionLink("MY BOTTOMS", "Index", "Bottoms")</h2>

        </div>
        <div class="col-xs-12 col-md-6">
            <h2 class="links">@Html.ActionLink("MY SHOES", "Index", "Shoes")</h2>

        </div>
        <div class="col-xs-12 col-md-6">
            <h2 class="links">@Html.ActionLink("MY ACCESSORIES", "Index", "Accessories")</h2>

        </div>

    </div>

</body>